---
- hosts: localhost
  name: neovim
  tasks:

    - name: base Include vars
      ansible.builtin.include_vars:
        file: vars/base.yml

    - name: neovim Git clone
      ansible.builtin.git:
        repo: https://github.com/neovim/neovim.git
        dest: "{{ local.home }}/tmp/neovim"
        depth: 1
        version: stable

    - name: neovim Install package deps
      become: true
      ansible.builtin.apt:
        package:
          - cmake
          - gettext
          - ninja-build
        state: present
        update_cache: true

    - name: neovim telescope.nvim Install dependencies
      ansible.builtin.get_url:
        url: "{{ ripgrep.download.url }}"
        dest: "{{ local.home }}/tmp/{{ ripgrep.download.release }}"
        checksum: "sha256:{{ ripgrep.download.sha256 }}"

    - name: neovim telescope.nvim Install deb pkg
      become: true
      ansible.builtin.apt:
        deb: "{{ local.home }}/tmp/{{ ripgrep.download.release }}"

    - name: neovim Make install
      become: true
      community.general.make:
        chdir: "{{ local.home }}/tmp/neovim"
        target: install
        params:
          CMAKE_BUILD_TYPE: RelWithDebInfo
